.aboutContainer {
    display: flex;
    flex-direction: column;
    background: var(--white);
    text-align: left;
    padding: 2rem 4rem;
    margin-top: 2rem;
    border-radius: 8px;
    width: 60vw;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    @media screen and (max-width: 480px) {
        width: 100vw;
    }
    p {
        color: var(--dark-gray);
    }
}